<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="70%"   src='{{ "assets/images/" + livro.img + ".jpg" }}' alt="{{livro.img}}">

    <div class="card-body">
      <p class="card-text book-name">{{ livro.name }}</p>
      <p class="card-text">Categoria: {{ livro.category }}</p>
      <p class="card-text">Unidades disponíveis: {{ livro.quantity }}</p>
      <p class="card-text book-price">{{livro.price | currency:'BRL'}}</p>


      <div class="d-flex justify-content-between align-items-center md-2">
        <div class="form">
        <label for="de">Quantidade </label>
        <input type="number" id="de" class="form-control">
        </div>
        
      </div>



      <div class="d-flex justify-content-between align-items-center my-2">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary">Comprar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
        </div>
      </div>
    </div>
  </div>